body{
    background-color: antiquewhite;
    display: flex;
}

.header{
    width: 500px;
}

.code{
    background-color: black;
    color: white;
    width: auto;
    padding: 10px;
    border-radius: 5px;
}